::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

.blog-theme-layout .VPSwitchAppearance {
  width: 22px !important;
}

.blog-theme-layout .VPSwitchAppearance .check {
  transform: none !important;
}