html.dark .blog-info-content,
html.dark .user-content {
  background-color: rgba(20, 20, 20, 0.7);
}

html .blog-info-content,
html .user-content {
  background-color: rgba(255, 255, 255, 0.9);
}

.example-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.example-list .blog-info {
  margin: 10px;
  position: relative;
}
.example-list .blog-info .cover-content {
  position: relative;
  overflow: hidden;
}
.example-list .blog-info .cover-content:hover .blog-info-content {
  animation: fadeIn 0.2s ease-in-out forwards;
  display: block;
}
.example-list .blog-info .cover-content .bg-cover {
  background-size: auto 140px;
}
.example-list .blog-info .cover-content img {
  max-height: 140px;
}
.example-list .blog-info .cover-content .blog-info-content {
  display: none;
  padding: 4px 10px;
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.example-list .blog-info .cover-content .blog-info-content h3 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.example-list .blog-info .cover-content .blog-info-content p {
  font-size: 14px;
  color: var(--description-font-color);
}
.example-list .blog-info .cover-content .blog-info-content h3,
.example-list .blog-info .cover-content .blog-info-content p {
  margin: 0;
}
.example-list .blog-info .cover-content .blog-info-content i {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 10px;
}
.example-list .blog-info .author-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.example-list .blog-info .author-content img {
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.example-list .blog-info .author-content .author-name {
  font-size: 14px;
  cursor: pointer;
}
.example-list .blog-info .author-content:has(.author-name > input[type=checkbox]:checked) + div.user-content {
  display: block;
}
.example-list .blog-info .user-content {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 40px;
}
.example-list .blog-info .user-content :deep(.profile) {
  padding: 18px;
}
.example-list .blog-info .user-content :deep(.VPTeamMembersItem) {
  border-radius: 0;
}
.example-list .blog-info .user-content :deep(.VPTeamMembers) {
  margin-top: 0;
}
.example-list .blog-info .user-content :deep(.data) {
  padding-top: 0;
}
.example-list .blog-info .user-content :deep(.avatar),
.example-list .blog-info .user-content :deep(.name) {
  display: none;
}

@media screen and (max-width: 768px) {
  .example-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .example-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .example-list .blog-info .cover-content img {
    max-height: 256px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.author-content > img:hover {
  transform: rotate(666turn);
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
}