.home-wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 32px 24px 96px;
}

@media (min-width: 960px) {
    .home-wrapper {
        max-width: 752px;
    }
}

@media (min-width: 1280px) {
    .home-wrapper {
        order: 1;
        min-width: 640px;
    }
}
