html {
  --bg-gradient: 255, 255, 255;
  --box-shadow: 0 1px 8px 0
    rgba(0, 0, 0, 0.1);

  // blog-item
  --box-shadow-hover: 0 2px 16px 0
    rgba(0, 0, 0, 0.2);
  --nav-bgc: rgba(255, 255, 255, 0.9);
  --badge-font-color: #4e5969;
  --description-font-color: #86909c;
}

html[class='dark'] {
  --bg-gradient: 20, 20, 20;
  --box-shadow: 0 1px 8px 0
    rgba(0, 0, 0, 0.6);
  --nav-bgc: rgba(0, 0, 0, 0.8);
  --box-shadow-hover: 0 2px 16px 0
    rgba(0, 0, 0, 0.7);
  --badge-font-color: #bdc3cc;
  --description-font-color: #9facba;
}
.VPHome {
  &::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background: url(./bg.png);
  }
  min-height: 88vh;
  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient), 1) 0%,
    rgba(var(--bg-gradient), 0) 1000%
  );
}

@media screen and (max-width: 959px) {
  .VPNav {
    background-color: var(--nav-bgc);
  }
}

.el-pagination {
  flex-wrap: wrap;
  justify-content: center;
}
.el-pagination > * {
  margin-bottom: 10px !important;
}
